<swiper class="slide-show container" [config]="config" effect="fade">
    <ng-template *ngFor="let movie of movies" swiperSlide>
      <div class="top">
        <!-- <div class="video">
          <object data="https://youtube.com/embed/Ith2WetKXlg?autoplay=1&controls=0&showinfo=0&autohide=1">
          </object>
        </div> -->
        <div class="image">
          <img src="{{imagePath}}{{movie.backdrop_path}}" alt="{{movie.title}}">
        </div>
        <div class="logo">
          <img *ngIf="movie.logo" src="{{imagePath}}{{movie.logo}}" alt="{{movie.title}}">
        </div>
      </div>
      <div class="info">
        <h2 class="name">{{movie.title || movie.name}}</h2>
        <p class="overview">{{movie.overview | truncate:[140]}}</p>
        <div class="action">
          <div class="btn"><i class="fi fi-rr-play"></i> Ver trailer</div>
          <div class="btn">Más informacion</div>
        </div>
      </div>
    </ng-template>
</swiper>
