// Black and grey scale
  $black: rgb(0, 0, 0);
  $darkenGrey: lighten($black, 10%);
  $darkGrey: lighten($black, 25%);
  $grey: lighten($black, 60%);
  $lightGrey: lighten($black, 90%);
  $lighterGrey: lighten($black, 95%);
  $white: rgb(255, 255, 255);

// General Colors
  $color1: hsl(357, 92%, 45%);
  $color1dark: darken($color1, 10);
  $color1darken: darken($color1, 20);
  $color1light: lighten($color1, 15);
  $color1lighter: lighten($color1, 25);

// Dark mode base colors
  $dark-1: hsl(229, 23%, 10%);
  $dark-2: hsl(229, 22%, 19%);
  $dark-3: hsl(229, 20%, 21%);
  $dark-4: hsl(229, 20%, 23%);

  $dark-text-1: hsl(212, 8%, 70%);
  $dark-text-2: hsl(0, 0%, 87%);


// Light mode base colors
  $light-1: hsl(0, 0%, 100%);
  $light-2: hsl(0, 0%, 97%);
  $light-3: hsl(0, 0%, 93%);
  $light-4: hsl(0, 0%, 91%);

  $light-text-1: hsl(0, 0%, 0%);
  $light-text-2: hsl(0, 0%, 20%);

