// General
  $bodyColor            : $white;
  $textColor            : $darkGrey;
  $textBoldColor        : $color1;
  $baseColor            : $color1;
  $borderColor          : lighten($baseColor, 60%);
  $borderRadius         : 7px;

  $baseFont             : 'Roboto', sans-serif;
  $condensedFont        : 'Roboto Condensed', sans-serif;
  $baseFontSize         : 16;
  $baseLineHeight       : 1.2em;
  $baseFontWeight       : normal;

// Margenes
  $blockSpace           : .5rem;
  $generalMargin        : $blockSpace * 2;
  $generalMarginBottom  : $generalMargin * 2;
  $generalPadding       : $blockSpace;
  $generalPaddingDouble : $generalPadding *2;

// Scroll
  $scrollbar-with       : 5px;

// Grid
  $layoutMinWith        : 360px;
  $gap                  : $generalPadding*2;
  $minWithAutoCol       : 180px;

// NavBar
  $navBarBgColor: #2F495E;
  $navBarColor: $white;
  $navBarHeight: 50px;

// Icon
  $iconSize: 24;
