.main-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: $layoutMinWith;
  height: 70px;
  // TODO THEME
  background-color: $white;

  @include medium() {
    height: 100%;
    position: relative;
    min-width: auto;
    padding-right: $generalPaddingDouble;
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include medium() {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: $gap;
    }

    li {
      a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        gap: $gap;

        .txt {
          font-size: .85em;
          font-family: $condensedFont;
          font-weight: 700;
        }
      }

      @include medium() {
        a {
          .txt {
            font-size: 1em;
          }
        }

        .fi {
          display: none;
        }

        &:last-child {
          align-self: center;
          margin-left: auto;

          .fi {
            display: flex;
          }

          .txt {
            display: none;
          }
        }
      }
    }
  }
}