@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.fi {
  @include font-size($iconSize);
  display: flex;
  align-items: center;
  justify-content: center;
}