$dark: (
  color: $color1,
  bg: $dark-1,
  bgContrast: $darkGrey,
  text: $dark-text-1,
  textHighContrast: $dark-text-2,
  textWithRedBg: $black,
  textWithImageBg: $grey,
  slideShowInfoBg: $color1darken,
  btnHoverBg: $color1darken,
  btnHoverText: $black,

);