$light: (
  color: $color1,
  bg: $light-2,
  bgContrast: $lightGrey,
  text: $light-text-1,
  textHightContrast: $light-text-2,
  textWithRedBg: $white,
  textWithImageBg: $white,
  slideShowInfoBg: $color1dark,
  btnHoverBg: $color1dark,
  btnHoverText: $white,
  gradient1: $light-gradient-1,


);