<nav class="main-menu">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" >
        <span class="fi fi-rr-home"></span>
        <span class="txt">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/catalogue/tv" routerLinkActive="active">
        <span class="fi fi-rr-screen"></span>
        <span class="txt">Series</span>
      </a>
    </li>
    <li>
      <a routerLink="/catalogue/movie" routerLinkActive="active">
        <span class="fi fi-rr-film"></span>
        <span class="txt">Películas</span>
      </a>
    </li>
    <li>
      <a routerLink="/latest" routerLinkActive="active">
        <span class="fi fi-rr-gem"></span>
        <span class="txt">Novedades</span>
      </a>
    </li>

    <li>
      <a routerLink="/search" routerLinkActive="active">
        <span class="fi fi-rr-search-heart"></span>
        <span class="txt">Descubre</span>
      </a>
    </li>
  </ul>
</nav>
