<nav class="main-menu">
  <ul>
    <li>
      <a routerLink="/home" >
        <span class="fi fi-rr-home"></span>
        <span class="txt">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/series">
        <span class="fi fi-rr-screen"></span>
        <span class="txt">Series</span>
      </a>
    </li>
    <li>
      <a routerLink="/movies">
        <span class="fi fi-rr-film"></span>
        <span class="txt">Películas</span>
      </a>
    </li>
    <li>
      <a routerLink="/latest">
        <span class="fi fi-rr-gem"></span>
        <span class="txt">Novedades</span>
      </a>
    </li>

    <li>
      <a routerLink="/search">
        <span class="fi fi-rr-search-heart"></span>
        <span class="txt">Descubre</span>
      </a>
    </li>
  </ul>
</nav>
