<nav class="main-menu">
  <ul>
    <li>
      <span class="fi fi-rr-home"></span>
      <span class="txt">Home</span>
    </li>
    <li>
      <span class="fi fi-rr-screen"></span>
      <span class="txt">Series</span>
    </li>
    <li>
      <span class="fi fi-rr-film"></span>
      <span class="txt">Películas</span></li>
    <li>
      <span class="fi fi-rr-gem"></span>
      <span class="txt">Novedades</span>
    </li>

    <li>
      <span class="fi fi-rr-search-heart"></span>
      <span class="txt">Descubre</span>
    </li>
  </ul>
</nav>
