.btn {
  background: none;
  border: 2px solid;
  border-color: $black;
  border-radius: $borderRadius;
  padding: unit(1) unit(2);
  transition: all .3s ease-in-out;
  @include font-size(14);

  &:hover {
    border-color: $color1;
    color: $color1;
  }
}