.search {
  overflow: visible;
  form {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    z-index: 1;


    .box {
      position: relative;

      input {
        position: relative;
        z-index: 1;
      }
    }
  }

  .suggestions {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: unit(4);
    padding-top: unit(6);
    padding-bottom: unit(2);

    border-radius: 0 0 25px 25px;

    @include theme {
      background-color: rgba(theme-get('bgContrast'), 8);
      color: theme-get('textHighContrast');
    }

    li {
      padding: unit(2) unit(4);
      cursor: pointer;

      &:hover {

        @include theme {
          color: theme-get('color');
        }
      }
    }
  }

  .list {
    padding-top: unit(4);
  }
}