.slide-show {
  display: grid;
  position: relative;

  [class*="swiper-button"] {
    position: absolute;
    z-index: 9;
    top: auto;
    bottom: unit(4);
    right: unit(4);
    left: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1);

    @include theme {
      color: theme-get('textWithRedBg');
    }

    &:hover {
      transform: scale(1.8);
    }

    &::after {
      font-family: $iconFamily;
      text-shadow: 1px 1px 2px black;
      @include font-size(20);
    }

    &[class*="prev"] {
      right: unit(10);;
      &::after {
        content: "\f10e"
      }
    }

    &[class*="next"] {
      &::after {
        content: "\f10f"
      }
    }

    &[class*="disabled"] {
      opacity: .1;
      transform: scale(1);

      &:hover {
        color: $white;
        opacity: .1;
      }
    }

    @include medium {
      bottom: unit(8);
      right: unit(8);

      &::after {
        @include font-size(32);
      }

      &[class*="prev"] {
        right: unit(16);
      }
    }
  }

  .swiper-slide {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
    // line-height: 300px;

    .top {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .bottom {
      position: relative;
      display: grid;

      @include medium() {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: unit(8);
        background: linear-gradient(270deg, rgba($white,0) 0%, rgba($black,1)  100%);
      }

      @include large() {
        width: 35%;
      }
    }

    .logo {
      position:absolute;
      top: 0;
      transform: translateY(-90%);
      width: 100%;
      height: 90%;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: unit(8);

      img {
        max-height: 70%;
        max-width: 60%;
      }

      @include small() {
        transform: translateY(-100%);
        height: 180%;
      }

      @include medium() {
        width: auto;
        height: auto;
        display: block;
        position: relative;
        transform: translateY(0);
        padding-bottom: 0;
        max-width: 60%;
        max-height: 30%;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      @include large() {
        max-width: 80%;
        max-height: 40%;
      }
    }

    .video {
      // border:1px solid red;
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      opacity: 1;

      object {
        width: 100%;
        height: 100%;
      }
    }

    .image {
      position: relative;
      z-index: 0;
      line-height: 0;
      overflow: hidden;
      max-height: calc(100vh - #{$navBarHeightLarge});
      height: 100%;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .info {
      display: grid;
      grid-template-rows: auto 1fr min-content;
      z-index: 999;
      padding: unit(4);

      @include theme {
        background: theme-get('slideShowInfoBg');
      }


      .name {
        @include font-size(24);
        font-weight: bold;
        font-family: $condensedFont;
        text-transform: uppercase;

        @include theme {
          color: theme-get('textWithRedBg');
        }
        line-height: 1.2em;
      }

      .tags {
        display: flex;
        gap: unit(2);
      }

      .tag {
        // background-color: rgba($white, .5);
        border-radius: $borderRadius;
        padding: unit(.5) unit(1);
        margin-bottom: unit(1);
        display: inline-block;
        @include font-size(12);
        font-style: italic;

        @include theme {
          border: 1px dashed rgba(theme-get('textWithRedBg'), .7);
          color: rgba(theme-get('textWithRedBg'), .7)
        }

      }

      .overview {
        margin-bottom: $generalMargin;

        @include theme {
          color: theme-get('textWithRedBg');
        }

        @include medium() {
          margin-bottom: $generalMarginBottom;
        }
      }

      ul {
        padding: $generalPaddingDouble * 2;
        @include font-size(14);

        background-color: $lighterGrey;
        margin-bottom: $generalMarginBottom;
        border-radius: $borderRadius;

        span {font-weight: bold;}
        li {
          margin: 0;
        }
      }

      .action {
        display: flex;
        gap: $generalPaddingDouble;

        .btn {

          @include theme {
            border-color: theme-get('textWithRedBg');
            color: theme-get('textWithRedBg');
          }

          // background-color: rgba($black, .1);
          display: flex;
          align-items: center;
          gap: unit(2);

          // box-shadow: 1px 1px 3px rgba(black,.8);

          .fi {
            @include font-size(18);
          }

          &:hover {
            @include theme {
              border-color: theme-get('bgContrast');
              color: theme-get('text');
              background-color: theme-get('bg');
            }

          }
        }

        @include medium() {
          gap: unit(4);

          .btn {
            font-size: 1.4em;
            background-color: rgba($black, .5);
            padding: unit(2) unit(4);
          }
        }
      }

      @include medium() {
        padding: unit(4) 0 0 0;

        @include theme {
          background: transparent;
        }

        .name, .overview {
          @include theme {
            color: theme-get('textWithImageBg');
          }
        }

        .tag {
          @include theme {
            border: 1px dashed rgba(theme-get('textWithImageBg'), .7);
            color: rgba(theme-get('textWithImageBg'), .7)
          }
        }

        .action .btn {
          @include theme {
            border-color: theme-get('textWithImageBg');
            color: theme-get('textWithImageBg');
          }

          &:hover {
            @include theme {
              border-color: theme-get('btnHoverText');
              color: theme-get('btnHoverText');
              background-color: theme-get('btnHoverBg');
            }
          }
        }
      }
    }
  }
}