<div class="sort-by">
  <div class="selected" (click)="showOptions()"><span class="txt">Mejor Valoradas </span><span class="fi fi-rr-apps-sort"></span></div>
  <div class="sort-by-list basic" [ngClass]="{ 'active': active }">
    <ul>
      <li>Mejor Valoradas</li>
      <li>Más recientes</li>
      <li>Más taquilleras</li>
      <li>Más votadas</li>
      <!-- <li (click)="selectOption(initial)">{{ initial.name}}</li>
      <li *ngFor="let genre of sortByList" (click)="selectOption(genre)">{{ genre.name }}</li> -->
    </ul>
  </div>
</div>