.details {
  .original-name {
    color: $grey;
    font-style: italic;
  }
  @include theme {
    color: theme-get('text')
  }

  .genres {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    line-height: 1em;
    gap: unit(.5);
    text-transform: lowercase;
    @include font-size(12);
    margin-bottom: $generalMargin;
  }

  @include medium() {
    padding: unit(8) unit(12) unit(4);
    max-width: 1024px;
    .overview {
      column-count: 2;
    }
  }

  @include large() {
    .overview {
      p {
        font-size: 1.2em;
      }
    }
  }
}